.container1 {
  width: 100%;
  height: 90vh;
}

.wrapper1 {
  width: 100%;
  height: 100%;
  color: rgb(116, 116, 116);
  background: linear-gradient(
    90deg,
    rgba(243, 243, 243, 0.803) 0%,
    rgb(241, 241, 241) 100%
  );
  display: flex;
  flex-direction: column;
  overflow: auto;
}
